 <div class="buttons-container">
            <button class="button" onclick="location.href='/login'">Login</button>
            <button class="button" onclick="location.href='/signup'">Sign Up</button>
        </div>