<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Young+Serif&display=swap" rel="stylesheet">
    <link rel="stylesheet" href="../public/css/style.css">
    <link rel="stylesheet" href="../public/css/navbar.css">
    <link rel="stylesheet" href="../public/css/bio.css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.2/css/all.min.css" />
    <link href="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.css" rel="stylesheet" />
    <link href="../public/css/output.css" rel="stylesheet">

     <title>Homepage</title>
</head>

<body class="bg-cover bg-center bg-fixed md:bg-cover"
    style='background-image: url("../public/images/dario-bronnimann-hNQwIirOseE-unsplash.jpg")'>
    <!-- this is the header featuring original artwork for the logo and typography -->
    <header>
        <div class="flex flex-col items-center">
            <img src="../public/images/Spaceman.PNG" alt="Logo" class="h-80 w-50">
            <img src="../public/images/yourSpaceGradient.PNG" alt="YourSpace" class="w-40">
        </div>
    </header>

     <!-- code for editing bio popup window -->
     <div id="editPopupContainer" class = "hidden editBioWindow">
        <button id="bioEditButton">Edit Bio</button>
        <button id="nameEditButton">Edit Name</button>

        <br>

        <button id="closeEditWindow">
            I'm done editing!
        </button>
    
        <div id="popupContainer">
            <input type="text" id="nameInput" placeholder="Enter new name... if nothing is entered, changes will not be saved.">
            <button id="nameSaveButton">Save</button>
    
            <textarea id="bioInput" placeholder="Enter new bio... if nothing is entered, changes will not be saved."></textarea>
            <button id="bioSaveButton">Save</button>
            
        
            <button id="cancelEdit">Cancel (changes will be discarded)</button>

        </div>
    
    </div>
    <!-- end of editing bio popup code  -->

    <!-- the profile card featuring the user profile avatar -->
    <main class="flex flex-wrap justify-center p-6">
        <div class="flex flex-col space-y-2 mr-10">
            <div class="w-full max-w-sm bg-white border border-arylide rounded-lg shadow">
                <div class="flex justify-end px-4 pt-4">
                    <button id="dropdownButton" data-dropdown-toggle="dropdown"
                        class="inline-block text-gray-500 dark:text-gray-400 hover:bg-gray-100 dark:hover:bg-gray-700 focus:ring-4 focus:outline-none focus:ring-gray-200 dark:focus:ring-gray-700 rounded-lg text-sm p-1.5"
                        type="button">
                        <span class="sr-only">Open dropdown</span>
                        <svg class="w-5 h-5" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="currentColor"
                            viewBox="0 0 16 3">
                            <path
                                d="M2 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Zm6.041 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3ZM14 0a1.5 1.5 0 1 1 0 3 1.5 1.5 0 0 1 0-3Z" />
                        </svg>
                    </button>
                    <!-- Dropdown menu -->
                    <div id="dropdown"
                        class="z-10 hidden text-base list-none bg-white divide-y divide-gray-100 rounded-lg shadow w-44 dark:bg-gray-700">
                        <ul class="py-2" aria-labelledby="dropdownButton">
                            <li>
                                <a
                                    id="homeEditButton" class="block px-4 py-2 text-sm text-gray-700 hover:bg-gray-100 dark:hover:bg-gray-600 dark:text-gray-200 dark:hover:text-white">Edit</a>
                            </li>
                        </ul>
                    </div>
                </div>
                <div class="flex flex-col items-center p-6">
                    <img class="w-24 h-24 mb-3 rounded-full shadow-lg"
                        src="../public/images/laura-vinck-Hyu76loQLdk-unsplash.jpg" alt="placeholder image" />
                    <h5 id=bioUsername class="mb-1 text-2xl font-medium text-marian">Your Name</h5>
                    <!-- you can add a brief bio below -->
                    <span id=shortBio class="text-sm text-gray-500 dark:text-gray-400">Brief Bio: Lorem ipsum dolor sit amet
                        consectetur
                        adipisicing
                        elit. Aspernatur commodi, natus quia, non autem, consequatur hic velit provident accusantium
                        nostrum
                        cumque. Repellat, nisi vel ea eius architecto corrupti iure amet.</span>
                    <div class="flex mt-4 space-x-3 md:mt-6">
                        <div class="inline-flex items-center px-4 py-2 text-sm font-medium text-center text-medium">
                            <p id="lastLogin"></p>
                        </div>
                    </div>
                </div>
            </div>

           

            <!-- contact card section, this will take you to various links thruout the page  -->
            <div class="block max-w-sm p-6 bg-white border border-arylide rounded-lg shadow hover:bg-blue">
                <div class="bg-buff p-4 rounded-lg text-center">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-marian">Contacting card</h5>
                </div>
                <div class="flex flex-col items-center">
                    <a href="#">
                        <button
                            class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-red-200 via-red-300 to-yellow-200 group-hover:from-red-200 group-hover:via-red-300 group-hover:to-yellow-200 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400">
                            <span
                                class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                                Send Message
                            </span>
                        </button>
                    </a>
                    <a href="#">
                        <button
                            class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-red-200 via-red-300 to-yellow-200 group-hover:from-red-200 group-hover:via-red-300 group-hover:to-yellow-200 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400">
                            <span
                                class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                                Friends List
                            </span>
                        </button>
                    </a>
                    <a href="#">
                        <button
                            class="relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-red-200 via-red-300 to-yellow-200 group-hover:from-red-200 group-hover:via-red-300 group-hover:to-yellow-200 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400">
                            <span
                                class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                                Blog
                            </span>
                        </button>
                    </a>
                </div>
            </div>

            <!-- music card where you can feature your fav songs -->
            <div class="block max-w-sm p-6 bg-white border border-arylide rounded-lg shadow">
                <div class="bg-buff rounded-lg p-4 text-center">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-marian">Music card</h5>
                </div>
                <button id="getPlaylistButton" onclick="getPlaylist()"
                    class="bg-blue-500 hover-bg-blue-700 text-white font-bold py-2 px-4 rounded mt-4">
                    Get Your Playlist.
                </button>
                <div id="musicListContainer">
                    <!-- Display the user's music list here -->
                </div>
            </div>
        </div>
        <!-- the bulletin board allows the user to post short snippets of comments  -->
        <div class="flex flex-col space-y-4 flex-shrink">
            <div class="block max-w-sm p-6 bg-white border border-arylide rounded-lg shadow">
                <div class="bg-buff rounded-lg p-4 text-center">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-marian">Bulletin Board</h5>
                </div>
                <div class="container mx-auto mt-8">
                    <div class="grid grid-cols-3 gap-4"></div>
                </div>
                <!-- first text box  -->
                <div id="board-1" class="post-container">
                    <textarea name="comment" class="bulletin-board rounded-lg border" cols="37" rows="2"></textarea>
                    <button
                        class="saveBtn relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800">
                        <span
                            class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                            Post
                        </span>
                    </button>
                    <button
                        class="deleteBtn relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-red-200 via-red-300 to-yellow-200 group-hover:from-red-200 group-hover:via-red-300 group-hover:to-yellow-200 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400">
                        <span
                            class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                            Delete
                        </span>
                    </button>
                </div>
                <!-- text box 2 within bulletin board  -->
                <div id="board-2" class="post-container">
                    <textarea name="comment" class="bulletin-board rounded-lg border" cols="37" rows="2"></textarea>
                    <button
                        class=" saveBtn relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800">
                        <span
                            class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                            Post
                        </span>
                    </button>
                    <button
                        class="deleteBtn relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-red-200 via-red-300 to-yellow-200 group-hover:from-red-200 group-hover:via-red-300 group-hover:to-yellow-200 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400">
                        <span
                            class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                            Delete
                        </span>
                    </button>
                </div>
                <div id="board-3" class="post-container">
                    <textarea name="comment" class="bulletin-board rounded-lg border" cols="37" rows="2"></textarea>
                    <button
                        class="saveBtn relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-pink-500 to-orange-400 group-hover:from-pink-500 group-hover:to-orange-400 hover:text-white dark:text-white focus:ring-4 focus:outline-none focus:ring-pink-200 dark:focus:ring-pink-800">
                        <span
                            class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                            Post
                        </span>
                    </button>
                    <button
                        class="deleteBtn relative inline-flex items-center justify-center p-0.5 mb-2 mr-2 overflow-hidden text-sm font-medium text-gray-900 rounded-lg group bg-gradient-to-br from-red-200 via-red-300 to-yellow-200 group-hover:from-red-200 group-hover:via-red-300 group-hover:to-yellow-200 dark:text-white dark:hover:text-gray-900 focus:ring-4 focus:outline-none focus:ring-red-100 dark:focus:ring-red-400">
                        <span
                            class="relative px-5 py-2.5 transition-all ease-in duration-75 bg-white dark:bg-gray-900 rounded-md group-hover:bg-opacity-0">
                            Delete
                        </span>
                    </button>
                </div>
            </div>
            <!-- you can add and delete your top friends for other users to see -->
            <div class="block max-w-sm p-6 bg-white border border-arylide rounded-lg shadow">
                <div class="bg-buff rounded-lg p-4 text-center">
                    <h5 class="mb-2 text-2xl font-bold tracking-tight text-marian">Top Friends</h5>
                </div>
                <!-- freind 1 for testing -->
                <!-- Add the click event handler to each friend element -->
                <a href="#" onclick="getFriends(1)"> <!-- Replace 1 with the friend's ID -->
                    <img class="w-24 h-24 mb-3 rounded-full shadow-lg"
                        src="../public/images/laura-vinck-Hyu76loQLdk-unsplash.jpg" alt="placeholder image" />
                    <p>Friend 1</p>
                </a>
                <a href="#">
                    <img class="w-24 h-24 mb-3 rounded-full shadow-lg"
                        src="../public/images/laura-vinck-Hyu76loQLdk-unsplash.jpg" alt="placeholder image" />
                    <p>Friend 2</p>
                </a>
                <a href="#">
                    <img class="w-24 h-24 mb-3 rounded-full shadow-lg"
                        src="../public/images/laura-vinck-Hyu76loQLdk-unsplash.jpg" alt="placeholder image" />
                    <p>Friend 3</p>
                </a>
                <a href="#">
                    <img class="w-24 h-24 mb-3 rounded-full shadow-lg"
                        src="../public/images/laura-vinck-Hyu76loQLdk-unsplash.jpg" alt="placeholder image" />
                    <p>Friend 4</p>
                </a>
            </div>

        </div>

    </main>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/flowbite/1.8.1/flowbite.min.js"></script>

</body>
<script src="https://code.jquery.com/jquery-3.4.1.min.js"></script>
<script type="text/JavaScript" src=" https://momentJS.com/downloads/moment.js"></script>
<script src="../public/js/bulletin.js"></script>
<script src="../public/js/friends.js"></script>
<script src="../public/js/music.js" defer></script>
<script src="../public/js/bio.js"></script>

</html>