<!-- THIS IS THE ORIGINAL CODE  -->
<!-- <!DOCTYPE html>
<html>
<head>
  <link rel="stylesheet" href="/public/css/style_yana.css">
  <title>Login</title>
</head>

<body>
  <h1>Login</h1>
  <form action="/auth/login" method="post">
    <label for="email">Email:</label>
    <input type="text" id="email" name="email" required><br><br>
    
    <label for="password">Password:</label>
    <input type="password" id="password" name="password" required><br><br>

    <input type="submit" value="Login">
  </form>
  <script src="../public/js/authenticate.js"> defer</script>
</body>
</html> -->




<!-- Alejandra's changes  -->
<!-- THIS IS THE NEWLY STYLED PAGE THAT MADS DID 10/16 at 12:44 pm  -->
<!-- <!DOCTYPE html>
<html>

<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/public/css/style_yana.css">
  <title>Login Page</title>
</head>

<body>
  <header class="header-container">
    <img class="header-image" src="/public/images/Spaceman.PNG" alt="image of spaceman logo">
    <img class="header-image" src="/public/images/yourSpaceGradient.PNG" alt="yourspace logo">
  </header>
  <div id="card">
    <div id="card-content">
      <div id="card-title">
        <h2>LOGIN</h2>
        <div class="underline-title"></div>
      </div>
      <form method="post" class="form">
        <label for="email" style="padding-top:13px">
          &nbsp;Email
        </label>
        <input type="text" id="email" class="form-content" name="email" required />
        <div class="form-border"></div>
        <label for="password" style="padding-top:22px">&nbsp;Password
        </label>
        <input type="password" id="password" class="form-content" name="password" required />

        <div class="form-border"></div>
        <input id="submit-btn" type="submit" value="LOGIN" />
      </form>
    </div>
  </div>
    <script src="../public/js/authenticate.js" defer></script>
  </body>
</html> -->


<!-- Yana's changes -->
<!-- THIS IS THE NEWLY STYLED PAGE THAT MADS DID 10/16 at 12:44 pm  -->
<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8" />
  <meta http-equiv="X-UA-Compatible" content="IE=edge" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0" />
  <link rel="stylesheet" href="/public/css/style_yana.css">
  <title>Login Page</title>
</head>
<body>
  <header class="header-container">
    <img class="header-image" src="/public/images/Spaceman.PNG" alt="image of spaceman logo">
    <img class="header-image" src="/public/images/yourSpaceGradient.PNG" alt="yourspace logo">
  </header>
  <div id="card">
    <div id="card-content">
      <div id="card-title">
        <h2>LOGIN</h2>
        <div class="underline-title"></div>
      </div>
      <form action="/auth/login" method="post">
        <label for="email" style="padding-top:13px">
          &nbsp;Email
        </label>
        <input type="text" id="email" class="form-content" name="email" required />
        <div class="form-border"></div>
        <label for="password" style="padding-top:22px">&nbsp;Password
        </label>
        <input type="password" id="password" class="form-content" name="password" required />
        <div class="form-border"></div>
        <input id="submit-btn" type="submit" value="LOGIN" />
      </form>
    </div>
  </div>
  <script src="../public/js/authenticate.js" defer></script>
</body>
</html>