{{!-- {{#extend "layouts/main"}}
{{#content "body"}}
<div class="login-container">
    <h2>Login</h2>
    <form class="login-form" method="post" action="/login">
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password" name="password" required>
        </div>
        <div class="form-group">
            <button type="submit">Login</button>
        </div>
    </form>
    <p>Don't have an account? <a href="/signup">Sign up</a></p>
</div>
{{/content}} --}}


{{#extend "layouts/main"}}
{{#content "body"}}
<div class="login-container">
    <h2>Login</h2>
    <form class="login-form">
        <div class="form-group">
            <label for="email-login">Email:</label>
            <input type="email" id="email-login" name="email-login" required>
        </div>
        <div class="form-group">
            <label for="password-login">Password:</label>
            <input type="password" id="password-login" name="password-login" required>
        </div>
        <div class="form-group">
            <button type="submit">Login</button>
        </div>
    </form>
    <p>Don't have an account? <a href="/signup">Sign up</a></p>
</div>
{{/content}}
