<!-- Signup Form -->
<div class="signup-container">
    <h2>Sign Up</h2>
    <form class="signup-form" method="post" action="/auth/signup">
        <div class="form-group">
            <label for="name">Name:</label>
            <input type="text" id="name-signup" name="name" required>
        </div>
        <div class="form-group">
            <label for="email">Email:</label>
            <input type="email" id="email-signup" name="email" required>
        </div>
        <div class="form-group">
            <label for="password">Password:</label>
            <input type="password" id="password-signup'" name="password" required>
        </div>
        <div class="form-group">
            <button type="submit">Sign Up</button>
        </div>
    </form>
</div>