*{
    box-sizing:border-box;
    padding: 0;
    margin: 0;
    /* font-family: 'Young Serif', serif; */
}

/* main page styling */
html, body {
  max-width: 100%;
  overflow-x: hidden;
}

body {
    background-color: #AEB3CC;
    background-image: url("../images/dario-bronnimann-hNQwIirOseE-unsplash.jpg");
}

.blogBody {
  margin-left: 80px;
}

.blog-navbar {
  position: fixed;
  background-color: var(--bg-primary);
  transition: width 700ms ease;
  z-index: 1;
}

@media only screen and (max-width: 600px) {
  .blog-navbar {
    bottom: 0;
    width: 100vw;
    height: 5rem;
  }

  .blogBody {
    margin-left: 0px;
  }
  
}

@media only screen and (min-width: 600px) {
  .blog-navbar {
    top: 0;
    width: 5rem;
    height: 100vh;
  }

  .blogBody {
    margin-bottom: 70px;
  }
}

.col-md-3, .col-md-9 {
  padding: 0px;
}

.blogHeader {
    background-color: #263A8C;
    color: white;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px;
}

.previousPostHeader {
    background-color: #263A8C;
    color: white;
    border-radius: 5px;
    text-align: center;
    padding: 10px;
    margin-bottom: 20px
}

.blogEl {
    background-color:  #7773BF;
    margin-left: auto;
    margin-right: auto;
    max-width: 1000px;
    min-height: 500px;
    border-radius: 10px;
    padding: 10px;
}

.blogButtonContainer {
    display: flex;
    justify-content: right;
}

/* delete popup styling */
.popupContainer {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    display: none;
    justify-content: center;
    align-items: center;
  }

  .popup {
    background-color: white;
    padding: 20px;
    border-radius: 5px;
  }

  .popupButtons {
    display: flex;
    justify-content: space-between;
    margin-top: 20px;
    gap: 10px;
  }

  .popupButton {
    padding: 10px 20px;
    border-radius: 5px;
    cursor: pointer;
  }

  .popupButtonDelete {
    background-color: #A45556;
    color: white;
  }

  .popupButtonBack {
    background-color: #CEEAF7;
  }

  .centerContent {
    text-align: center;
  }

  .pushRight {
    text-align: right;
  }

  .datePosted{
    color:grey;
  }

  .likesDislikesDate {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }


  .likesAndDislikes {
    display: flex;
    gap: 10px;
    align-items: center;
  }

  .likes, .dislikes {
    background-color: #263A8C;
    color: white;
    border-radius: 10px;
    padding: 10px;
    min-width: 100px;    
    text-align: center;
  }
