.music-list-item {
    display: flex;
    align-items: center;
    border: 1px solid #ddd;
    margin: 5px;
    padding: 5px;
    background-color: #f9f9f9;
}

.music-list-item h3 {
    margin: 0;
}

.music-list-item a {
    margin-left: 10px;
    color: #007BFF;
    text-decoration: none;
}

.music-list-item a:hover {
    text-decoration: underline;
}

.add-to-list-button {
    margin-top: 5px; /* Adjust the margin value to control spacing */
    display: block; /* Ensure the button is displayed on a new line */
}

.search-result {
    margin-top: 20px; /* Add space between search results */
}