@tailwind base;
@tailwind components;
@tailwind utilities;

/* body {
    font-family: Arial, sans-serif;
    background-color: #F4F4F4;
    margin: 0;
    padding: 0;
  }
  ​
  header {
    background-color: #26398C; /* Marian Blue */
    /* color: #FFFFFF;
    padding: 20px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  ​
  h1 {
    font-size: 24px;
    margin: 0;
  }
  ​
  ​
  main {
    padding: 20px;
    background-color: #FFFFFF;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  }
  ​
  .buttons-container {
    text-align: center;
    margin-top: 20vh;
  }
  .button {
    display: inline-block;
    padding: 10px 20px;
    background-color: #007bff; 
    color: #fff;
    text-decoration: none;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
  }
  ​
  footer {
    background-color: #AEB3CC; /* French Gray */
    /* color: #FFFFFF;
    text-align: center;
    padding: 10px;
  } */
  ​
  /* Specific Styles for Login and Signup Pages */
  /* .login-container, .signup-container {
    width: 50%;
    margin: 0 auto;
    padding: 20px;
    background-color: #7673BF; /* Slate Blue */
    /* border-radius: 5px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.1);
  } */ 
  ​
  /* form {
    margin-top: 20px;
  } */
  ​
  /* label {
    display: block;
    margin-bottom: 5px;
    color: #D89C83; /* Buff */
  /* } */
  ​
  /* input[type="text"],
  input[type="email"],
  input[type="password"] {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px; */
    /* border: 1px solid #EAD96C; Arylide Yellow */
    /* border-radius: 3px;
  } */
  ​
  /* button {
    background-color: #26398C; Marian Blue
    color: #FFFFFF;
    border: none;
    padding: 10px 20px;
    cursor: pointer;
    font-weight: bold;
  } */
  ​
  /* button:hover {
    background-color: #7673BF; Slate Blue
  } */ 

