<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>YourSpace</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <header>
        <h1>YourSpace</h1>
    </header>
    <main>
        {{{ body }}}
        {{!-- <!-- Login and Sign Up Buttons -->
        <div class="buttons-container">
            <button class="button" onclick="window.location.href='/login'">Login</button>
            <button class="button" onclick="window.location.href='/signup'">Sign Up</button>
        </div> --}} 
    </main>
    <footer>
        &copy; 2023 YourSpace
    </footer>
    {{#if logged_in}}
    <script src="/js/logout.js"></script>
    {{/if}}
</body>
</html>